
/* ========== General Layout ========== */
.login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e8f5fd; */
}

.image-container img {
  max-width: 100%;
  height: 100vh;
  /* object-fit: contain; */
}

.form-container {
  flex: 0.4;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:15px;
}
.form-container .navigation-div{
    margin-left:17%;
}
.form-box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: #e8f0fe;
  outline: none;
  font-size: 16px;
}

.btn-login {
  margin-top: 10px;
}

.btn {
  width: 100%;
  padding: 14px;
  background-color: var(--twitter-color);
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.g-btn {
  width: 100% !important;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 42px;
  line-height: 42px;
  font-size: 15px !important;
}

.google-button {
  margin-top: 5%;
}

.errorMessage {
  color: red;
  font-weight: 500;
  margin: 10px 0;
}

/* Signup Text */
.signUpText {
  margin-top: 20px;
  font-size: 15px;
}

.signUpText a {
  text-decoration: none;
  color: var(--twitter-color);
  font-weight: 600;
  margin-left: 5px;
}

/* ========== Responsive ========== */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .image-container {
    flex: none;
    display:none;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .form-container {
    flex: 0;
    padding: 20px;
    /* background:black; */
    margin-top:15%;
  }

  .heading {
    font-size: 28px;
    text-align: center;
  }

  .form-box {
    padding: 0 10px;
  }

  .btn,
  .g-btn {
    font-size: 15px;
  }
}