
.widgets {
  flex: 0.3;
  min-width: 280px;
  max-width: 350px;
  overflow-y: auto;
  height: 100vh;
  border-left: 1px solid var(--twitter-background);
  background-color: white;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.widgets__widgetContainer {
  margin: 15px 0px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

/* Hide Widgets on Small Screens */
@media screen and (max-width: 1024px) {
  .widgets {
    display: none;
  }
}
